# command line
# start up
# docker-compose -f ./docs/dev-ops/docker-compose-lite.yml up -d
# close
# docker-compose -f ./docs/dev-ops/docker-compose-lite.yml down

services:
  # MySQL 8.0
  mysql:
    image: mysql:8.0
    container_name: big-market-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root  # according to password in yml
      TZ: Asia/Shanghai
    volumes:
      # mounting mysql initial files
      - ./environment/mysql/sql/:/docker-entrypoint-initdb.d/
      - ./environment/mysql/my.cnf:/etc/mysql/conf.d/mysql.cnf
    command: --default-authentication-plugin=mysql_native_password

  # Redis
  redis:
    image: redis:6.2
    container_name: big-market-redis
    ports:
      - "6379:6379"
